 *{
    background-color: 0EEAFA;
    box-sizing: border-box; 
  }

#box{
    background-color: 35D7DC;
    padding:20px;
   
}

 
h2{
    margin-bottom: 24px;
    padding-top: 15px;
    text-align: center;
    background-color: EF8AF3;
}

#highlight {
    background-color: red;
    border: 4px solid black;
    font-size:20px;
    font-weight: bold;
    font-color:blue;
    font-style: normal;
    float: right;
    padding: 10px 25px 10px 25px;
}
#highlight2 {
    background-color: F906F6;
    border: 5px black;
    font-size:24px;
    font-weight: bold;
    font-color:black;
    font-style: normal;
    float: right;
    padding: 10px 25px 10px 25px;
}

 

#p1 {
    padding: 65px 25px 15px 25px;
    border: 5px solid;
    font-size:23px;
    background-color:F0F70E;
    color:black;
    font-weight: normal;
    font-style: normal;
  }

#p2 {
     padding: 65px 25px 15px 25px;
    border: 5px solid;
    font-size:23px;
    background-color:11F4D9;
    color:black;
    font-weight: normal;
    font-style: normal;
    }


/* RESPONSIVE WORK DEVICE */

.fili {
  width: 100%;
}
@media (min-width:992px)
{
.col1, .col2, .col3, .col4, .col5, .col6,.col7, .col8, .col9,.col10, .col11, .col12 {
  float: left; 
} 
.col1{
  width: 8.33%;
}
.col2{
  width: 16.66%;
}
.col3{
  width: 25%;
}
.col4{
  width: 33.33%;
}
.col5{
  width: 41.66%;
}
.col6{
  width: 50%;
}
.col7{
  width: 58.33%;
}
.col8{
  width: 66.66%;
}
.col9{
  width: 74.99%;
}
.col10{
  width: 83.33%;
}
.col11{
  width: 91.66%;
}
.col12{
  width: 100%;
}
       
}
@media (min-width:768px) and (max-width:991px)
{
.coli1, .coli2, .coli3, .coli4, .coli5, .coli6,.coli7, .coli8, .coli9,.coli10, .coli11, .coli12 {
  float: left; 
} 
.coli1{
  width: 33.33%;
}
.coli2{
  width: 33.33%;
}
.coli3{
  width: 33.33%;
}
.coli4{
  width: 33.33%;
}
.coli5{
  width: 41.66%;
}
.coli6{
  width: 50%;
}
.coli7{
  width: 58.33%;
}
.coli8{
  width: 66.66%;
}
.coli9{
  width: 74.99%;
}
.coli10{
  width: 83.33%;
}
.coli11{
  width: 91.66%;
}
.coli12{
  width: 100%;
}
      
   
#cosita{
     position: relative;
}
         
}